*{
    margin: 0;
    padding: 0;
    touch-action: none;
}
body{
    background-color: #eee;
}
audio{
    display: none;
}
a{
	text-decoration: none;
}
li{
    list-style: none;
}
.one{
    width: 1540px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ccc;
}
.one_1{
    width: 400px;
    height: 60px;
    margin: 0 auto;
}
.one_2{
    width: 80px;
    height: 60px;
    float: left;
}
#tubiao1{
    width: 25px;
    height: 25px;
    float: left;
    margin: 17px 0 0 32px;
}
#tubiao2{
    width: 26px;
    height: 26px;
    float: left;
    margin: 17px 0 0 22px;
}
.one_3{
    width: 240px;
    height: 60px;
    float: left;
    font-family: "华文中宋";
    text-align: center;
    font-size: 32px;
    line-height: 60px;
    font-weight: 400;
}
.one_add{
    width: 20000px;
    height: 60px;
}
#two{
    width: 20000px;
    height: 617.4px;
    float: left;
    z-index: 1;
    position: relative;
    background-color: #fff;
}
.two_img{
    width: 20000px;
    height: 617.4px;
    float: left;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}
.touming{
    opacity:0;
}
#tree{
    width: 600px; 
    height: 440px;
    z-index: 333;
    position: absolute;
    top: 110px;
    left: 370px;
    background-color: green;
}
#boat1{
    width: 600px; 
    height: 440px;
    z-index: 333;
    position: absolute;
    top: 110px;
    left: 1100px;
    background-color: blue;
}
#daoguan{
    width: 700px; 
    height: 400px;
    z-index: 333;
    position: absolute;
    top: 90px;
    left: 2080px;
    background-color: mediumturquoise;
}
#person1{
    width: 800px; 
    height: 440px;
    z-index: 333;
    position: absolute;
    top: 80px;
    left: 4100px;
    background-color: greenyellow;
}
#person2{
    width: 4760px; 
    height: 300px;
    z-index: 333;
    position: absolute;
    top: 280px;
    left: 6700px;
    background-color: yellow;
}
#person3{
    width: 660px; 
    height: 380px;
    z-index: 333;
    position: absolute;
    top: 190px;
    left: 12500px;
    background-color: orange;
}
#soilder{
    width: 660px; 
    height: 140px;
    z-index: 333;
    position: absolute;
    top: 10px;
    left: 11700px;
    background-color: red;
}
#horse{
    width: 660px; 
    height: 140px;
    z-index: 333;
    position: absolute;
    top: 10px;
    left: 12400px;
    background-color: aquamarine;
}
#boat2{
    width: 2870px; 
    height: 360px;
    z-index: 333;
    position: absolute;
    top: 230px;
    left: 13400px;
    background-color: blueviolet;
}
#book{
    width: 600px; 
    height: 360px;
    z-index: 333;
    position: absolute;
    top: 200px;
    left: 16350px;
    background-color: hotpink;
}