#header{
    height: 32px;
    background: #a9180a;
}
.header_login{
    float: left;
}
.header_login,.header_menu{
    height: 32px;
    line-height: 32px;
}
.header_login span,.header_login a{
    color: #fff;
    font-size: 12px;
}
.header_login a{
    text-decoration: none;
    padding: 0 10px 0 20px;
}
.header_menu > li > a{
    color: #fff;
    text-decoration: none;
}
.header_menu{
    float: right;
}
.header_menu > li{
    float: left;
    /* padding: 0 14px 0 10px; */
}
.free{
    padding: 0 14px 0 10px;
}
.menu_item{
    height: 32px;
    border-color: #a9180a;
}
.list-arrow{
    position: relative;
}
.list_1{
    position: absolute;
    left:0px;
    top:32px;
    background: #fff;
    padding: 10px;
    border:1px solid #ccc;
    border-top:none;
    display: none;
}
.list_2{
    width: 72px;
    line-height: 20px;
}
.list_3{
    width: 60px;
    line-height: 20px;
}
.list_1 > li >a{
    color: #999;
}
.list-arrow:hover .list_1{
    display: block;
}
.list-arrow:hover{
    background: #fff;
}
.list-arrow:hover > a{
    color:#ff0036;
    text-decoration: underline;
}
.list_1 .list_4:hover{
    color: #ff0036;
    text-decoration: underline;
}
.list-arrow:hover .arrow{
    transform: rotate(180deg);
    transform-origin: 50% 25%;
}
.header_item:hover{
    color: gold;
}
.hang{
    width: 1px;
    height: 14px;
    background: #fff;
    float: left;
    position: relative;
    top: 8px;
}
.logo-box{
    height: 130px;
    overflow: hidden;
}
.logo{
    width: 240px;
    height: 130px;
    float: left;
    position: relative;
    left: -20px;
}
.search-box{
    float: left;
    margin: 38px 96px;
    overflow: hidden;
}
.search_1{
    width: 623px;
    height: 36px;
    border: 2px solid #ff0036;
}
.search_input{
    width: 491px;
    height: 36px;
    border:none;
    outline: none;
    text-indent: 5px;
    float: left;
}
.search_2{
    width: 132px;
    height: 36px;
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: 700px;
    background: #ff0036;
    border:none;
    letter-spacing: 10px;
}
.search_3 li{
    float: left;
    margin-top:3px; 
    padding: 0 12px;
    position: relative;
    left: -12px;
}
.search_3 li::after{
    content: "";
    width: 1px;
    height: 15px;
    background: #999;
    position: absolute;
    left: 0;
    top: 4px;
}
.search_3 li a{
    color: #999;
    font-size: 14px;
}
.search_3 li.hot a{
    color: #ff0036;
}
.nav{
    height: 35px;
    padding-left: 230px;
    width: 1030px;
}
.nav li{
    float: left;
}
.nav li img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
}
.nav a{
    color: #333;
    font-size: 16px;
    font-weight: 500px;
    display: block;
    height: 35px;
    line-height: 35px;
    padding :0 8px;
}
.slide-box{
    height: 500px;
    background: #eeeeee;
}
.slide-box{
    border-top:1px solid #ff0036;
}
.slide-box .wrapper{
    height: 500px;
    background: #eeeeee;
    position: relative;
}
.menu-box{
    width: 200px;
    height: 535px;
    background: #999999;
    position: absolute;
    top: -36px;
}
.menu-title{
    width: 200px;
    color:#fff;
    height: 35px;
    line-height: 35px;
    background: #ff0036;
    font-size:16px;
    font-weight: 700;
}
.menu-title .iconfont{
    margin:0 8px 0 14px;
    font-size:18px;
}
.img-box{
    height: 500px;
    overflow: hidden;
}
.img-box img{
    width: 1230px;
}
.main-list{
    width: 200px;
    height: 31.2px;
    line-height: 31.2px;
}
.main-list > a{
    color: #fff;
    font-size: 14px;
}
.main-list span{
    color: #fff;
}
.main-list:hover{
    background: #fff;
}
.list-icon{
    margin:0 4px 0 14px;
    opacity:0.5;
}
.main-list .list-line,.main-list .list-icon,.main-list > a
{
    color:#fff;
}
.main-list:hover .list-line,.main-list:hover .list-icon,.main-list:hover > a
{
    color:#e54077;
}
.main-list:hover .list-icon{
    opacity: 1;
}
.menu-sub-list{
    width: 800px;
    height: 500px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left:200px;
}
.main-list-box{
    position: relative;
}
