*{
    margin: 0;
    padding: 0;
    touch-action: none;
}
li{
    list-style: none;
}
.one{
    height: 0.48rem;
    background: #ffffff;
    display: flex;
    border-bottom:1px solid #999999;
    padding: 0.2rem;
}
.search{
    width: 6.2rem;
    height: 0.56rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    text-indent: 0.61rem;
    background: #eeeeee url(../images/sousuo.png) 0.2rem 0.1rem no-repeat;
    background-size: 0.37rem 0.37rem;
}
.message{
    width: 0.4rem;
    height: 0.39rem;
    margin: 0.05rem 0 0 0.36rem;
}
.two{
    width: 100%;
    height: 7.3rem;
    float: left;
    font-family:"微软雅黑";
    margin: 0.1rem 0 0 0 ;
}
.two_0{
    width: 96%;
    height: 1.2rem;
    float: left;
    margin: 0 1% 0 3%;
}
.two_1{
    width: 20%;
    height: 1.2rem;
    float: left;
}
.two_1 img{
    width: 0.47rem;
    height: 0.47rem;
    float: left;
    margin: 0.36rem 0 0 0.43rem;
}
#yunpan_img{
    width: 0.48rem;
    height: 0.4rem;
    float: left;
    margin: 0.42rem 0 0 0.45rem;
}
.two_2{
    width: 80%;
    height: 1.2rem;
    float: left;
    border-bottom:1px solid #ddd;
}
.two_2_1{
    width: 50%;
    height: 1.2rem;
    float: left;
    font-weight: 500;
    font-size: 0.3rem;
    color: black;
    line-height: 1.2rem;
}
#create_name{
    color: #1296db;
}
.two_2_2{
    width: 40%;
    height: 1.2rem;
    float: left;
    text-align: right;
    line-height: 1.2rem;
    font-size: 0.26rem;
    color: #888;
}
.two_2_3{
    width: 10%;
    height: 1.2rem;
    float: right;
}
.two_2_3 img{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin: 0.45rem 0.1rem 0 0;
}
#suo{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin: 0.45rem 0 0 0;
}
#three{
    width: 100%;
    height: 4rem;
    float: left;
}
#three img{
    width: 1.2rem;
    height: 1.2rem;
    float: right;
    margin: 2.3rem 0.4rem 0 0;
}
@-webkit-keyframes fadenum {
    0% {
        background:rgba(238,238,238,0);
    }
    100% {
        background:rgba(238,238,238,0.86);
    }
}
@keyframes fadenum {
    0% {
        background:rgba(238,238,238,0);
    }
    100% {
        background:rgba(238,238,238,0.86);
    }
}
@-webkit-keyframes fadenum2 {
    0% {
        background:rgba(238,238,238,0.86);
    }
    100% {
        background:rgba(238,238,238,0);
    }
}
@keyframes fadenum2 {
    0% {
        background:rgba(238,238,238,0.86);
    }
    100% {
        background:rgba(238,238,238,0);
    }
}
#fabu_s{
    width: 100%;
    height: 11.5rem;
    display: none;
    position: fixed;
    left: 0;
    top: 0.9rem;
    bottom: 1rem;
    background:rgba(238,238,238,0.86);
}
.fabu_2{
    -webkit-animation: fadenum 0.5s ease;
    -moz-animation: fadenum 0.5s ease;
    animation: fadenum 0.5s ease;
    display: block;
}
.fabu_3{
    -webkit-animation: fadenum2 0.5s ease;
    -moz-animation: fadenum2 0.5s ease;
    animation: fadenum2 0.5s ease;
    display: none;
}
#fabu_0{
    width: 86%;
    height: 1.5rem;
    float: left;
    opacity: 1;
    margin: 9.25rem 0 0 6%;
}
.fabu_1{
    width: 1.3rem;
    height: 1.3rem;
    float: left;
    border-radius: 50%;
    background-color: #fff;
}
.fabu_1 img{
    width: 0.65rem;
    height: 0.65rem;
    float: left;
    margin: 0.33rem 0 0 0.33rem;
}
.fabu_4{
    margin: 0 0 0 0.416rem;
}
.footer{
    z-index: 9999;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1rem;
    background-color: #ffffff;
    border-top:1px solid #999999;
}
.footer_0{
    float: left;
    width: 1.5rem;
    height: 0.99rem;
    text-align: center;
}
.footer .footer_0 img{
    width: 0.5rem;
    height: 0.5rem;
    float: left;
    margin: 0.23em 0 0 0.44rem;
}
