*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.one{
    height: 0.48rem;
    background: #ffffff;
    display: flex;
    padding: 0.2rem;
}
.search{
    width: 6.4rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    text-indent: 0.61rem;
    background: #eeeeee url(../images/sousuo.png) 0.2rem 0.1rem no-repeat;
    background-size: 0.3rem 0.3rem;
}
.message{
    width: 0.4rem;
    height: 0.39rem;
    margin: 0.05rem 0 0 0.22rem;
}
.one_add{
    width: 7.5rem;
    height: 0.8rem;
    float: left;
    display: flex;
}
.one_1{
    width: 7.5rem;
    height: 0.8rem;
    float: left;
    display: flex;
}
.one_1_1{
    width: 1.5rem;
    height: 0.6rem ;
    float: left;
    font-size: 0.33rem;
    font-weight:400;
    color: #888787c0;
    font-family:PingFangSC-Regular;
    text-align: center;
    margin: 0.2rem 0 0 0.45rem ;
}
.one_1_2{
    width: 2rem;
    height: 0.6rem ;
    float: left;
    font-size: 0.33rem;
    font-weight:400;
    color: #888787c0;
    font-family:PingFangSC-Regular;
    text-align: center;
    margin: 0.2rem 0 0 0.5rem ;
}
.one_1_2 span{
    float: left;
}
#one_hot_1{
    color: black;
    font-size: 0.34rem ;
    font-weight:500;
}
.one_hot_2{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
}
.one_xiala{
    width: 0.9rem;
    height: 0.9rem;
    margin: -0.23rem -0.2rem 0 0;
}
.two{
    width: 7.5rem;
    height: 3.9rem;
}
.two img {
    width: 7.5rem;
    height: 3.9rem;
}
.three{
    width: 7.1rem;
    height: 1.5rem;
    margin: 0.9rem 0.2rem 0 0.2rem;
    background: #ffffff;
    float: left;
    overflow: hidden;
}
.three img{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
    margin: 0.4rem 0 0 0.33rem ;
}
.three span{
    float: left;
    font-size: 0.26rem;
    font-weight: 400;
    margin: 0.42rem 0 0 0.2rem ;
}
.three_1{
    width: 2.2rem;
    height: 1.2rem;
    float: left;
    background-color: #f5eabd;
    margin: 0.1rem 0 0 0;
    opacity: 0.75;
    border-radius:10px;
}
.three_2{
    width: 2.2rem;
    height: 1.2rem;
    float: left;
    margin: 0.1rem 0 0 0.25rem;
    opacity: 0.75;
    border-radius:10px;
    background-color: #f9e1e1;
}
.three_3{
    width: 2.2rem;
    height: 1.2rem;
    float: left;
    margin: 0.1rem 0 0 0.25rem;
    opacity: 0.75;
    border-radius:10px;
    background-color: #fddec2;
}
.four{
    width: 7.5rem;
    height: 10rem;
    background: #ffffff;
    overflow: hidden;
}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0.99rem;
    background-color: #ffffff;
    border-top:1px solid #999999;
}
.footer_0{
    float: left;
    width: 1.5rem;
    height: 0.99rem;
    text-align: center;
}
.footer .footer_0 img{
    width: 0.5rem;
    height: 0.5rem;
    float: left;
    margin: 0.23em 0 0 0.44rem;
}
#footer_red{
    color: rgba(255, 196, 0, 0.822);
}